
body{ 
    max-width: 567px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    z-index: 1;
  
    a{
        text-decoration: none;
        color: black;
    }
}

#body-menu{
    background-color: $color-bloc-page;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    width: 100%;
    margin: 0;
    padding-bottom: 15px;
    position: relative;
    z-index: 2;
    
    hr{
        border-top: 3px solid rgb(69, 224, 224);
        overflow: visible;
        width: 4.5em;
        margin: 0 0 1em 0;
    }

    h2{
        margin-bottom: 2px;
    }
} 