/*keyframes pour les prix des menus*/
@keyframes apparition{
    from{
        transform: scale(0)
    }
    to{
        transform: scale(1);
    }
}

/*keyframes pour les menus*/
@keyframes load-cards{
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}



